
img{
    height: 70px;
    width: 70px;
}

.hr-middle-text{
    border: none;
    border-top: 0.1px ridge ;
    color: rgb(24, 23, 23);
    overflow: visible;
    text-align: center;
    font-weight: bolder;
    height: 2px;
}
.hr-middle-text:after {
    background: #fff;
    content: 'OR';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
.btn{
    letter-spacing: 0.1rem;
}

.btn-face-book{
    background-color: rgb(62,90,155);
    color: white;
    border-radius:  100px 100px 100px 100px;
}
.btn-apple{
    background-color: black;
    color: white;
    border-radius:  100px 100px 100px 100px;
}
.form-check{
    padding-left: 0.8rem;
}
.btn-sign-up{
    border-radius:  100px 100px 100px 100px;
} 
.fa-lock{
    position: absolute;
    padding:9px;
   
}
.circle{
    position: relative;
    margin-left:310px;
}


