* {
  box-sizing: border-box;
}

body {
  background: rgb(27, 27, 27);
  background: linear-gradient(
    0deg,
    rgb(19, 19, 19) 0%,
    rgb(7, 7, 7) 50%,
    rgb(19, 19, 19) 100%
  );

  font-family: "Poppins", sans-serif;
  min-width: 600px;
}
#content {
  min-width: 50vh;
}

/* NAV STYLES START */
.vertical-nav {
  min-width: 15rem;
  width: 15rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
}
.page-content {
  width: calc(100% - 15rem);
  margin-left: 15rem;
  color: #fff;
}

nav img {
  width: 131px;
  background-color: #fff;
}
nav .active-link {
  color: #fff;
}

nav div .active-link {
  background-color: #252525;
  border-radius: 2px;
}

nav i,
a {
  color: #d3d3d3;
}

nav i:hover,
a:hover {
  color: #fff;
}

nav i {
  font-size: 20px;
  vertical-align: top;
}

nav a {
  font-size: 14px;
  font-weight: 500;
}

.hr-line {
  width: 80%;
  background-color: #85858581;
}

#playlist-holder {
  font-size: 13px;
}

nav li button {
  background-color: inherit;
  border: none;
  padding: 0px;
}

/* NAV STYLES END */

/* LEFT CONTENT NAVIGATION and USER PANEL */

.top-bar-bg {
  background: rgb(27, 27, 27);
  background: linear-gradient(
    0deg,
    rgba(27, 27, 27, 1) 0%,
    rgba(28, 28, 28, 1) 50%,
    rgba(27, 27, 27, 1) 100%
  );
}
.left-controls {
  margin-left: -3px;
}
.userpanel .btn-secondary {
  border-color: #000000b3;
  border-radius: 25px;
  background-color: #000000b3;
  font-size: 12px;
  position: relative !important;
  padding-left: 38px;
}

@media (max-width: 992px) {
  .userpanel .btn-secondary {
    padding-left: 16px;
  }
}

.userpanel .dropdown-menu {
  background-color: #161616;
}
.userpanel .btn-secondary img {
  top: 2px;
  left: 2px;
  max-width: 26px;
  border-radius: 25px;
  position: absolute;
}
.userpanel .dropdown-item {
  width: 188px;
  color: #fff;
  font-size: 0.8rem;
  padding: 8px 16px;
}

.userpanel .dropdown-item:hover {
  background-color: #414141;
}

/* HOME STYLES START 

#center-para p {
  text-align: center;
  margin: auto;
}



.card {
  height: 240px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(41, 39, 39);
  color: white;
}
.card-text {
  color: rgb(241, 234, 220);
}
.card .card-title {
  margin: auto;
}

#card1 {
  padding: 0%;
  height: 240px;
  border: 1px solid black;
  background-color: rgb(41, 39, 39);
  color: white;
  border-radius: 0px;
}

#card2 {
  padding: 0%;

  border: 1px solid black;
  background-color: rgb(41, 39, 39);
  color: white;
  border-radius: 0px;
}

/* HOME STYLES END */

/* PLAYER STYLES START */

.player-bar {
  padding: 0 16px;
  width: 100%;
  height: 90px;
  color: lightgray;
  background: rgb(27, 27, 27);
  background: linear-gradient(
    0deg,
    rgba(27, 27, 27, 1) 0%,
    rgba(28, 28, 28, 1) 50%,
    rgba(27, 27, 27, 1) 100%
  );
  border-top: rgb(63, 63, 63) 1px solid;
  min-width: 530px;
}

.player-bar img {
  max-width: 56px;
  max-height: 56px;
}

.player-bar p {
  margin: 0;
}
.player-bar a {
  color: inherit;
}
.player-bar .title {
  color: #fff;
  font-size: 14px;
}
.player-bar .artist {
  font-size: 11px;
}

.progress-time {
  font-size: 11px;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: rgb(109, 109, 109);
  margin-bottom: 2px;
  border-radius: 16px;
}

.volume-bar {
  width: 93px;
  height: 4px;
  background-color: gray;
  margin-bottom: 2px;
  border-radius: 16px;
}

.volume-bar:hover {
  background-color: green;
}

.player-bar i:hover {
  color: #fff;
}
.bi-play-circle-fill {
  font-size: 32px;
}
.bi-play-circle-fill:hover {
  font-size: 34px;
}

/* PLAYER STYLES END */

/* ALBUMS STYLES START */
#album-content {
  background: rgb(81, 144, 231);
  background: linear-gradient(
    184deg,
    rgba(81, 144, 231, 1) 0%,
    rgba(23, 21, 21, 0.8802871490393032) 36%,
    rgba(22, 22, 23, 1) 67%,
    rgba(22, 22, 23, 1) 92%
  );
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#cover {
  background-image: url("../img/covers/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: #fff;
}

#cover-album {
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}

#cover i {
  color: rgb(7, 117, 243);
  font-size: 20px;
}

#cover div {
  font-size: 14px;
}

#cover h1 {
  padding: 7.68px 0;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

#cover .listeners {
  font-size: 16px;
  margin: 4px 0px 20px;
}

#album-list {
  color: white;
}

#album-list .btn-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#album-list .btn-section div {
  margin-left: 30px;
}

#album-list .btn-section i.bi-play-circle-fill {
  font-size: 4rem;
  color: rgb(84, 223, 84);
  transition: top ease 0.5s;
}

#album-list .btn-section i.bi-heart {
  font-size: 2rem;
  color: #ffffff81;
}

#album-list .btn-section i.bi-three-dots {
  color: #ffffff81;
  font-size: 1rem;
}

#album-list .btn-section i.bi-heart:hover {
  color: #fff;
}
#album-list .btn-section i.bi-three-dots:hover {
  color: #fff;
}

#album-list .btn-section button {
  border: #ffffff81 solid 1px;
  color: #ffffff;
  text-transform: uppercase;
}

#album-list .btn-section button:hover {
  border: #ffffff solid 1px;
}

.more {
  font-size: 5rem;
  color: #fff;
}

#album-list .artist-pick-wrapper {
  display: flex;
}

#album-list .artist-pick-wrapper .text-btn {
  background-color: #ffffff;
  border-radius: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: #000;
}

#album-list .artist-pick-wrapper a,
div.playlist {
  margin-left: 10px;
  padding-left: 10px;
  color: #fff;
}

#albums {
  margin: 0;
  padding: 0;
}

#album-list ul div.list-item {
  display: flex;
  justify-content: space-between;
}

#album-list ul div.list-item li {
  list-style: none;
}

#album-list ul div.list-item span {
  margin-right: 20px;
}

#copyright p {
  font-size: 12px;
  margin: 0;
  color: #ffffff81;
}
#extra-space2 {
  height: 150px;
}
table tbody tr td {
  color: #ffffff81;
}

table tbody tr td.song-name,
th {
  color: #fff;
}

table tbody tr td.watched:hover {
  color: #fff;
}

h3 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
}

div.row div div.card {
  padding: 15px;
  background-color: #161616;
  color: #fff;
  font-size: 0.75rem;
  max-height: 330px;
  border-radius: 5px;
  box-shadow: #fff;
}

div .card img {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(15, 15, 15, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(15, 15, 15, 0.5);
}

div .card-body {
  padding: 20px 0;
}

h5 {
  font-size: 15px;
  font-weight: bold;
}

#others img {
  border-radius: 50%;
}

#extra-space {
  height: 300px;
}

#about .img-wrapper {
  position: relative;

  color: #fff;
}

#about .rank {
  position: absolute;
  top: 25px;
  right: 400px;
  border: rgb(17, 115, 228) solid 1px;
  border-radius: 70%;
  padding: 20px 15px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(17, 115, 228);
}

#about .rank div {
  font-size: 12px;
  font-weight: 400;
}

#about .img-wrapper .text {
  position: absolute;
  bottom: 20px;
  left: 25px;
  max-width: 700px;
  font-weight: bold;
  color: #fff;
}

.date div {
  border: rgb(27, 27, 27) solid 1px;
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  padding: 5px 20px;
  margin-top: 6px;
  color: #fff;
}
.date div span {
  font-size: 1.3rem;
}
#footer .list p {
  margin: 0;
  padding: 0 20px;
  color: #fff;
  font-weight: 600;
}

#footer .offer-text p {
  margin: 0;
  padding: 0 20px;
  color: #ffffff91;
  font-weight: 600;
  font-size: 14px;
}

#footer .offer-text p.offer-title {
  color: #fff;
  font-size: 1rem;
}

/* ALBUMS STYLES END */
.hidden-icons {
  opacity: 0;
}

.card .card-image {
  position: relative;
  display: inline-block;
}

.card .card-image a .badge i.bi {
  position: absolute;
  left: 50%;
  top: 60%;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: green;
  padding: 5px 10px;
  font-size: 50px;
}

.text a {
  font-size: 16px;
}
.table-hover > tbody > tr:hover {
  background-color: #d2d2d296;
  color: #fff;
}
